
html,
body
{
    overflow-x : hidden !important;
}

.mainSeoPagesColombia {
  min-height: 40vw;
}
.mainSeoPagesColombia > h1 {
  color: #fff;
  margin-top: 15vw;
  text-align: center;
}

@media only screen and (max-width: 767px) {
.bottomContentPromoButton {
  width: 100%;
  margin-top: 3vw;
  margin-bottom: 3vw;
  font-size: 5vw;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}
}