

@media only screen and (max-width: 767px) {

.eventosDeportivasLinkTitle>h2 {
  font-size: 6vw;
}

.eventosDeportivasLinkBtnMy78 {
  padding: 3vw 10vw;
}

.bottomContentPromoButton {
   font-size: 6.3vw;
  width: 50vw;
}

.RegistrateMobBtn{
  margin-top: 2rem !important;
}

footer.nb-footer .footer-info-single ul li a {
  font-size: 0.9rem;
}













}